<h2> Post A Question, Brave Soul </h2>

<div class='forms'>

  <%= form_for @question, method: :patch do |f| %>
  
  <%= f.label :title %>:
  <%= f.text_field :title %><br>

  <%= f.label :body %>:
  <%= f.text_field :body %><br>

  <%= f.label :user_id %>:
  <%= f.text_field :user_id %><br>

  <%= f.submit :'Update' %>

  <% end %>

</div>