
<% if answers.count > 0 %>
	<h3> Answers for <%= "#{@question.title}" %> </h3>

	<ul>
		<% answers.each do |a| %>

	    <% if a.favorite? %>
 				<h3> Dis Da Best Right Herr </h3>
	    <% end %>

	    <li>
	      <%= link_to "#{a.title}", answer_path(a) %> 
	    </li>

	    <li>
	      <%= "By #{a.user.name} at #{a.created_at}" %>
	    </li>

	    <li>
	      <%= a.body %>
	    </li>
	      <% if session[:user_id] == @question.user_id %>
	        <li>
	          <%= link_to 'Make Favorite!', edit_answer_path(a) %>
	        </li>
	      <% end %>
		<% end %>
	</ul>
<% else %>
  <h3> No answers yet! </h3>

<% end %>