<h2> Correct Your Shitty Wisdom </h2>

<div class='forms'>
  <%= form_for @answer do |f| %>
  
  <% if session[:user_id] == @answer.user_id %>

    <%= f.label :title %>:
    <%= f.text_field :title %><br>

    <%= f.label :body %>:
    <%= f.text_field :body %><br>

  <% end %>

  <% if session[:user_id] == @answer.question.user_id %>
    <%= f.label :favorite? %>:
    <%= f.check_box :favorite? %><br>
  <% end %>

  <%= f.submit :'Update' %>

  <% end %>
</div>