<h2> Correct Your Shitty Wisdom </h2>

<div class='forms'>
  <%= form_for @answer do |f| %>
  
  <%= f.label :title %>:
  <%= f.text_field :title %><br>

  <%= f.label :body %>:
  <%= f.text_field :body %><br>

  <%= f.label :user_id %>:
  <%= f.text_field :user_id %><br>

  <%= f.submit :'Update' %>

  <% end %>
</div>