<h2><%= @answer.title %></h2>

<% if session[:user_id] == @answer.user_id %>
	<header>
	  <p>
	    <%= link_to 'Edit', edit_answer_path(@answer) %>
	  </p>

	  <p>
	    <%= link_to 'Delete', answer_path(@answer), method: :delete %>
	  </p>
	</header>
<% end %>

<h4>
  <%= "Posted by #{@answer.user.name} at #{@answer.created_at}" %>
</h4>

<p><%= @answer.body %></p>